<div id="view-calendar">
    <h1 class="page-header">Kalendář akcí</h1>
    <div class="card">
         <div class="calendar-toolbar">
            <button id="prev-month-btn" class="btn btn-secondary" data-action="prev-month"><i data-feather="arrow-left"></i>Předchozí</button>
            <div id="current-month-display"></div>
            <button id="next-month-btn" class="btn btn-secondary" data-action="next-month">Další<i data-feather="arrow-right"></i></button>
            <button class="btn btn-secondary" data-action="open-export-actions-modal"><i data-feather="share"></i>Export akcí</button>
            <button id="plan-action-btn" class="btn btn-primary" data-action="plan-action"><i data-feather="plus"></i>Přidat akci</button>
         </div>
         <div class="calendar-grid" id="calendar-grid">
            <!-- JS generated content -->
         </div>
    </div>
</div>