<div id="view-zmeny">
    <div class="page-header-container">
        <h1 class="page-header" style="margin-bottom: 0;">Změny</h1>
        <button class="btn btn-primary" data-action="add-change"><i data-feather="plus"></i>Přidat změnu</button>
    </div>
    <div class="card">
        <div class="card-content">
            <table class="data-table" id="changes-table">
                <thead><tr><th>Platnost od</th><th>Platnost do</th><th>Nadpis</th><th>Popis</th><th class="actions">Akce</th></tr></thead>
                <tbody id="changes-table-body"></tbody>
            </table>
        </div>
    </div>
</div>